*{
    margin: 0;
    padding: 0;
}



.topnav{
    color:white;
    text-decoration: none;
    float:none;
    display: block;
    padding: 14px 30px;
    text-align: left;
    background-color: white;
}
.topnav a:hover{
    color: #2b2b2bd0;
    background-color:white;
    text-decoration: none;
}
body{
    background-color: white;
    color: black;
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 60px;
    width: 100%;
    background: black;
}
.heading ul{
display: flex;
}
.logo a{
    color: white;
    transition-duration: 1s;
    font-weight: 800;
}
.logo a:hover{
    color: rgb(240, 197, 6);
    transition-duration: 1s;
}
.heading ul li {
    list-style: none;
}
.heading ul li a {
    margin: 5px;
    text-decoration: none;
    color: black;
    font-weight: 500;
    position: relative;
    color: white;
    margin: 2px 14px;
    font-size: 18px;
    transition-duration: 1s;
}
.heading ul li a:active{
    color: red;
}
.heading ul li a:hover::before{
    width: 100%;
    transition-duration: 1s;
    background-color: rgb(243, 168, 7);
}
#input{
    height: 30px;
    width: 300px;
    text-decoration: none;
    border: 0px;
    padding: 5px;
}
.logo a{
    color: white;
    font-size: 35px;
    font-weight: 500;
    text-decoration: none;
}
ion-icon{
    width: 30px;
    height: 30px;
    background-color: white;
    color: black;
}
ion-icon:hover{
    cursor: pointer;
}
.search a{
    display: flex;
}
header a ion-icon {
    position:relative;
    right: 3px;
}
.navbar bg-body-tertiary{
color: #000;
background-color: #000;
}
.wrapper{
  padding: 5px;
  max-width: 960px;
  width: 95%;
  margin: 20px auto;
}
header{
    padding: 0 15px;
    text-align: center;
    font-size: 21px;
    color: aliceblue;
}
.columns{
    display: flex;
    flex-flow:row;
    justify-content: center;
    margin: 5px 0;

}
.column{
    flex: 1;
    border: 1px solid #667;
    margin: 2px;
    padding: 10px;
    background: #3af4d5;
    transition: 0.3s;
}
.column:first-child{
    margin-left: 0;
    background: antiquewhite;
}
.column:last-child{
    margin-left: 0;
    background: antiquewhite;
}
.column:nth-child(2){
    margin-left: 0;
    background: antiquewhite;
}
@media screen and(max-width:980px) {
    .columns .column{
        margin-bottom: 5px;
        flex-basis: 40%;

    }
    .columns .column:last-child{
        flex-basis: 100%;
        margin: 0;
    }
    .columns .column:nth-child(2){
        margin-right: 0;
    }
}
.content1{
    background: url(images/merc1.jpg);
}


